<body style="background-color:#1c1c1c;">

.redirecting {
  	position: absolute;
  	top: 437px;
  	left: calc(50% - 158px);
  	letter-spacing: 1em;
  	line-height: 30px;
}

.endreidev {
  	position: absolute;
  	top: 437px;
  	left: calc(50% - 158px);
  	letter-spacing: 1em;
  	line-height: 30px;
}
